@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: grey;
	border-radius: 4px;
	width: 200px;
	height: 200px;
}

.linkText {
	font-family: "Silkscreen", cursive;
	text-decoration: none;
	color: white;
	font-size: 32px;
	transition-duration: 0.195s;
	&:hover {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.6);
		transform: scale(1.2) translateY(-4px);
		transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
}
