@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

// variables
$manrope: "Manrope", sans-serif;
$offwhite: rgb(250, 250, 250);
$black-text: rgb(26, 26, 26);

.container {
	min-height: 100vh;
	height: 100%;
	padding: 32px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.backToHome {
	display: flex;
	flex-direction: column;
	font-family: $manrope;
	font-weight: 700;
	margin: 0;
	padding: 16px;
}

.backToHome a {
	color: $offwhite;
}
