@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import "../styles/variables.module.scss";

.wrapper {
	position: relative;
	width: 100%;
}

.colorKey,
.blackKey {
	display: flex;
	align-items: center;
	width: 100%;
	border-top-left-radius: $border-size;
	border-bottom-left-radius: $border-size;
	margin-bottom: 0.8vmin;
	transition-duration: 0.225s;
	&:hover {
		transform: translate(24px);
		transition: 0.195s cubic-bezier(0, 1.22, 1, 0.95);
		cursor: pointer;
	}
}

.colorKey {
	height: $colorKey-size;
	&:hover {
		opacity: 0.9;
	}
}

.blackKey {
	position: absolute;
	top: $blackKey-size/-1.6;
	left: 33%;
	height: $blackKey-size;
	z-index: 999;
	&:hover {
		background-color: #2b2a29 !important;
	}
}

.letterBox {
	font-family: "Poppins", sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	display: flex;
	width: 8vh;
	height: 8vh;
	justify-content: center;
	align-items: center;
	margin-left: 3vh;
	padding: 1vmin;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: $border-size;
}

.black {
	background-color: hsla(0, 0%, 100%, 0.1);
}
