@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "../styles/variables.module.scss";

.wrapper {
	position: relative;
	width: 100%;
}

.colorKey,
.blackKey {
	display: flex;
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 8px;
}

.colorKey {
	height: $colorKey-size;
	background-color: white;
}

.blackKey {
	position: absolute;
	top: $blackKey-size/-1.6;
	left: 33%;
	height: $blackKey-size;
	background-color: black;
}

.letterBox {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3%;
	padding: 25px;
	background-color: rgba(126, 126, 126, 0.2);
	border-radius: 4px;
}
