@use 'styles/variables' as *;

.container {
  width: 100%;
  height: 100%;
  padding: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $manrope;
  font-weight: 700;
  margin: 0;
  padding: 16px;

  a {
    color: $offwhite;
  }

  .backToHome {
    font-family: $display-font;
    transition: 0.225s $smooth;
    &:hover {
      transform: translate(8px);
      transition: 0.195s $smooth;
    }
  }

  .originalLink {
    font-family: $display-font;
    opacity: 0.5;
    transition: 0.225s $smooth;

    &:hover {
      transition: 0.2s $smooth;
      opacity: 1;
    }
  }
}

@media screen and (max-width: $phone-max) {
  .backToHome {
    padding-left: 0;
  }
}
