@use 'styles/variables' as var;

.container {
  display: flex;
  gap: 24px;
  border-radius: 4px;
}

.navBar {
  margin: 0;
  width: 100%;
}

.header {
  font-family: var.$display-font;
  margin: 0;
}

.description {
  font-family: var.$primary-font;
  font-weight: 400;
  max-width: 55ch;
  color: var.$secondary-text;
  line-height: 140%;
  margin: 8px 0 16px 0;
}
