@use 'styles/variables' as *;

.container {
  display: flex;
  gap: 24px;
  border-radius: 4px;
}

.navBar {
  margin: 0;
  width: 100%;
}

.header {
  font-family: $display-font;
  margin: 0;
}

.description {
  color: $secondary-text;
  font-family: $primary-font;
  font-weight: 400;
  max-width: 55ch;
  line-height: 140%;
  margin: 8px 0 32px 0;
}

@media screen and (max-width: $phone-max) {
  .container {
    flex-direction: column;
  }
}
