// general utility
$offwhite: hsl(0, 0%, 97%);
$text-hover: hsl(214, 100%, 40%);

// background-related
$bg-color: hsl(222, 12%, 16%);
$outlines: hsl(224, 13%, 28%);

// text-related
$secondary-text: hsl(0, 0%, 81%);
$black-text: hsl(0, 0%, 10%);
