// typography
$primary-font: "Inter", sans-serif;
$display-font: "Space Grotesk", sans-serif;

// homepage
$bg-color: hsl(222, 12%, 16%);
$outlines: hsl(224, 13%, 28%);
$offwhite: hsl(0, 0%, 97%);

// motion
$smooth: cubic-bezier(0.075, 0.82, 0.165, 1);

// layout
$manrope: "Manrope", sans-serif;
$black-text: hsl(0, 0%, 10%);

//mubasic
$primary-color: hsl(37, 93%, 71%);
$secondary-color: hsl(30, 4%, 10%);
$accent-color: hsl(24, 90%, 55%);
$colorKey-size: 15vh;
$blackKey-size: 12vh;
$border-size: 5px;
