html,
body {
	padding: 0;
	margin: 0;
	line-height: 1.6;
	font-size: 16px;
	background-color: #24272e;
	color: white;
}

* {
	box-sizing: border-box;
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}
