@import "./variables.module.scss";

.demo {
	display: flex;
	overflow-x: hidden;
}

.about,
.musicKeys {
	width: 50%;
	height: 100vh;
}

.about {
	font-family: $primary-font;
	color: $secondary-color;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $primary-color;
	padding: 40px;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.musicKeys {
	background-color: $secondary-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 10%;
}

.title {
	margin: 0;
	font-size: 1.6rem;
	font-weight: 900;
	letter-spacing: -0.05rem;
}

.logo {
	display: flex;
	align-items: center;
	gap: 1px;
}

.logoPart,
.logoMiddlePart,
.logoTRPart {
	width: 12px;
	height: 14px;
	border-radius: 2px;
	background-color: $secondary-color;
}

.logoMiddlePart {
	height: 32px;
}

.logoWrapper {
	align-self: flex-start;
}

.logoTRPart {
	margin-bottom: 1px;
}

.slogan {
	font-size: 5rem;
	font-weight: 800;
	letter-spacing: -0.2rem;
	line-height: 85%;
}

.accent {
	color: $accent-color;
}

.description {
	font-size: 1.1rem;
	font-weight: 500;
	max-width: 33vmin;
	line-height: 125%;
}
