.demo {
	background-color: red;
	height: 100vh;
	display: flex;
	margin: 2rem 3rem;
}

.title {
}

.about {
	background-color: #fac670;
	width: 50%;
	height: 100vh;
}

.musicKeys {
	background-color: #1b1a19;
	width: 50%;
	height: 100vh;
}
