@import "./variables.module.scss";

.demo {
	display: flex;
}

.title {
	margin-left: 24px;
	color: #1b1a19;
}

.about,
.musicKeys {
	width: 50%;
	height: 100vh;
}

.about {
	background-color: $primary-color;
}

.musicKeys {
	background-color: $secondary-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 20%;
}
