@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800;900&family=Nabla&family=Space+Grotesk:wght@400;500;600;700&display=swap");

// typography
$primary-font: "Inter", sans-serif;
$display-font: "Space Grotesk", sans-serif;

// accents
$primary-color: #fac670;
$secondary-color: #1b1a19;
$accent-color: #f37925;

// piano keys
$colorKey-size: 15vh;
$blackKey-size: 12vh;
$border-size: 5px;

// homepage
$bg-color: #24272e;
$outlines: #3f4452;
