// typography
$primary-font: "Inter", sans-serif;
$display-font: "Space Grotesk", sans-serif;

// accents
$primary-color: #fac670;
$secondary-color: #1b1a19;
$accent-color: #f37925;

// piano keys
$colorKey-size: 15vh;
$blackKey-size: 12vh;
$border-size: 5px;

// homepage
$bg-color: #24272e;
$outlines: #3f4452;
$offwhite: #f6f6f6;

// motion
$smooth: cubic-bezier(0.075, 0.82, 0.165, 1);
